.calculadora {
    width: 300px;
    border: 1px solid black;
    background-color: dodgerblue;
    padding: 10px;
}

.calculadora .resultado {
    background-color: white;
    color: black;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora .numeros {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calculadora .numeros button {
    width: 33%;
    height: 40px;
    background-color: lavender;
    border: 1 px solid mistyrose;
}

.calculadora .numeros button:last-child {
    width: 100%;
}

.calculadora .calculos {
    display: flex;
    flex-wrap: wrap;
}

.calculadora .calculos button {
    width: 25%;
    height: 40px;
    background-color: lavender;
    border: 1 px solid mistyrose;
}

.calculadora .calculos button:last-child {
    width: 100%;
}