<div class= "dashboard">
    <div id="contador">
        <app-cronometro [inicio]="numeros[0]" (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro>
        <app-cronometro [inicio]="numeros[2]"></app-cronometro>
        <app-cronometro inicio="60"></app-cronometro>
        <app-cronometro inicio="50"></app-cronometro> 
        <app-cronometro (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro>
    </div>

    <div id="calculadora">
        <app-calculadora></app-calculadora>
    </div>

    <div id="tareas">
        <app-tarea></app-tarea>
    </div>
</div>
